.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f6f6f6;
}

.content {
  width: 1000px;
  height: 490px;
  margin: 0 auto;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 32px 74px -12px rgba(0, 0, 0, 0.25);
  display: flex;
}

.body p {
  color: #fff;
}

.body-btn {
  border: 1px solid #FFF;
  border-radius: 8px;
  width: 136px;
  height: 40px;
  color: #FFF;
}

.body-btn a{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.layout {
  width: 50%;
  height: 100%;
  background-color: white;
  padding: 24px 40px;
  overflow-y: auto;
}

.layout::-webkit-scrollbar {
  width: 4px;
}

.layout::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 2px;
}

.form-input {
  border-bottom: 1px solid #000;
  margin-bottom: 40px;
  padding: 8px 0;
}

.padding-right {
  padding-right: 36px;
}

.form-input input {
  outline: none;
  width: 100%;
}

.form-icon {
  position: absolute;
  right: 8px;
  cursor: pointer;
}

.form-btn {
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0;
  background: var(--primary);
  text-align: center;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.form-section {
  margin-bottom: 40px;
}
.form-select {
  padding: 8px 0;
  width: 100%;
  border-bottom: 1px solid #000;
  outline: none;
}
