.container {
  max-width: 1206px;
  margin: 0 auto;
}
.content {
  padding: 24px 0 80px;
}

.head-input {
  border: 1px solid var(--gray5);
  border-radius: 8px;
  background: #fff;
  width: 48%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 34px 0 8px;
  position: relative;
}

.head-input-icon {
  position: absolute;
  right: 8px;
}

.head-input input {
  width: 100%;
  outline: none;
  height: 20px;
}

.btn-add {
  width: 136px;
  height: 40px;
  background: var(--primary);
  color: #fff;
  border-radius: 8px;
}

.content-body h1 {
  color: var(--text);
}

.content-tab {
  background: #fff;
  border-radius: 8px;
  padding: 24px 16px;
}
