.container {
    padding: 16px 16px 0;
    border: .5px solid var(--gray4);
    border-radius: 8px;
}

.head{
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 8px;
    position: relative;
}
.head-img {
    width: 130px;
    height: 130px;
}
.head-img img {
    border-radius: 8px;
}
.head-info{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.head-type span{
    padding: 4px 8px;
    border-radius: 8px;
    background: var(--error-bg);
    color: var(--error);
}

.head-box {
    font-size: 12px;
    line-height: 18px;
    padding: 4px;
    border-radius: 8px;
    color: #FFF;
    background: var(--success);
    width: fit-content;
}

.preview {
    position: absolute;
    top: 0;
    right: 0;
}

.body div {
    border-right: 1px solid #C9C5C9;
    padding: 0 16px;
}

.body div:nth-child(1) {
    padding-left: unset;
}
.body div:last-child{
    border-right: unset;
}
.body div a{
    color: var(--primary);
}