@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

:root {
  --primary: #136397;
  --white: #ffffff;
  --text: #1c1b1e;
  --gray2: #E6E1E6;
  --gray4: #AEAAAF;
  --gray5: #939094;
  --gray7: #605D62;
  --gray8: #48464A;
  --error: #DB242D;
  --error-bg: #F8D3D5;
  --warning: #FEB201;
  --warning-bg: #FFF7E6;
  --success: #489B1C;
  --success-bg: #F0FBE9;
  --background: #FAFAFA;
}

.background {
  background: var(--background)
}

.primary {
  color: var(--primary);
}

.error {
  color: var(--error);
}
.error-bg {
  background: var(--error-bg);
}

.warning {
  color: var(--warning);
}
.warning-bg {
  background: var(--warning-bg);
}

.success {
  color: var(--success);
}
.success-bg {
  background: var(--success-bg);
}

.gray7-color {
  color: var(--gray7);
}

.text-color {
  color: var(--text);
}

p{
  color: var(--text);
}
img{
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.ellipsis1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.w50percent {
  width: 50%;
}
